.footer {
  width: 100%;
  background-color: #1c1c1c;
  padding: 50px 0;
}

.innerCon {
  max-width: 1760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 32px;
}

.ftNavList {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.ftNavList li a {
  color: #fff;
  font-size: clamp(14px, 1.4vw, 18px);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-decoration: none;
}

.ftTxtList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 12px;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.ftTxtList li {
  color: #fff;
  font-size: clamp(15px, 1.5vw, 18px);
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.03em;
}

.copyright {
  color: #595959;
  font-size: clamp(15px, 1.5vw, 16px);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.03em;
  margin: 0;
}

@media (max-width: 768px) {
  .innerCon {
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
  }

  .logo {
    margin-bottom: 24px;
  }

  .ftNavList {
    gap: 12px;
  }

  .ftTxtList {
    gap: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .ftTxtList li {
    letter-spacing: -0.05em;
  }
}
